<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210554568688-0fsjt6saeuf3bs9tj5a97dnpb8ujstij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210554568688-0fsjt6saeuf3bs9tj5a97dnpb8ujstij</string>
	<key>API_KEY</key>
	<string>AIzaSyAcFY_PR8Si4b0PghK983FusXLCzU6244w</string>
	<key>GCM_SENDER_ID</key>
	<string>210554568688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabrieltakyie.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-swift-ddd46</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-swift-ddd46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210554568688:ios:e630e4ee4719c964ea2735</string>
</dict>
</plist>